.select-header {
    width: 100%;
    height: 5rem;
    border-bottom: .1rem solid #ececec;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: center;
}

.select-header-a {
    display: block;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: center;
    color: #000;
    border-right: .1rem solid #ececec;
    height:3rem;
    line-height: 3rem;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.select-header-a:nth-last-of-type(1){
    border:none;
}
.active{
    color: #f23030;
}
.concern-list-items{
    padding:2rem;
    border-bottom: .1rem solid #ececec;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}
.concern-list-items-left{
    width:6rem;
    height:6rem;
    border:.1rem solid #ececec;
    border-radius: 1rem;
    margin-right: 2rem;
}
.height-120{
    height:12rem;
}
.border-radius-30{
    border-radius: 3rem;
}
.concern-list-items-left-i{
    width:8rem;
    height:8rem;
    border:.1rem solid #ececec;
    border-radius: 4rem;
    margin-right: 2rem;
}
.concern-list-items-right{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    color: #7d7d7d;
}
.concern-list-items-right h5{
    color: #000;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.concern-list-items-right p{
    margin-top: .5rem;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.concern-list-items-right h6{
    margin-top: .5rem;
    font-size: 1.4rem;

}
.concern-list-items-right h6 img{
    height: 1.2rem;
    margin-right: .5rem;
}
.concern-list-items-right p.line-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}